@import  'http://fonts.googleapis.com/earlyaccess/notosanstc.css';
div{
	font-family: 'Noto Sans TC', sans-serif;
}

a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
/* 導覽列會員功能 */
.header-area .header-top {
border-bottom: 1px solid #d3d3d3;
}
.header-default {
color: #6e6e6e;
font-size: 14px;
line-height: 40px;
}

.header-default p {
margin: 0;
}

.header-user-info {
padding: 10px 0;
text-align: right;
}

.header-user-info a {
border-left: 1px solid #f1f2f2;
color: #252525;
font-size: 12px;
line-height: 20px;
padding-left: 14px;
margin-right: 10px;
}
.header-user-info a:hover {
color: #009a86;
text-decoration: none;
}
.header-logo {
padding: 30px 0;
}

/*導覽列選單文字 */
#navbarSupportedContent a.nav-link{
    padding: 0 30px;
    font-size: 18px
}

#navbarSupportedContent a:hover {color: #009A86;}


@media (max-width: 767px) {
    .header-bottom .navbar{
        padding: 0;
    }

    .header-bottom #navbarSupportedContent{
        background-color: #DCDCDC;
    }
    .header-bottom  .nav-item{
        padding: 10px 0;
    }

    .header-bottom .header-bottom-right-inner {
        padding-top: 15px;
    }


}

/*導覽列搜尋與購物車 */
.header-bottom-right-inner{
    padding-top: 55px;
}

.header-bottom-right-inner  li {
    display: inline-block;
    position: relative;
}

.header-bottom-right-inner a {
    color: #777777;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.header-bottom-right-inner a:hover {
    color: #009A86;
    text-decoration: none;
}

.cart-toggler i {
    font-size: 30px;
    border: 2px solid #353535;
    cursor: pointer;
    height: 50px;
    line-height: 45px;
    text-align: center;
    width: 50px;
    position: fixed;
    bottom:65px;
    right: 20px;
    z-index: 1001;
}

.header-bottom-right-inner .header-bottom-search {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 102%;
    width: 290px;
    z-index: 9999;
}

.mini-cart-icon i {
    border: 2px solid #009A86;
    color: #009A86;
}

.mini-cart-icon span {
    background: rgba(0, 0, 0, 0) url(../../../static/images/icon_cart.png) no-repeat scroll left top;
    color: #ffffff;
    display: block !important;
    font-size: 12px;
    font-weight: 500;
    height: 23px;
    line-height: 25px;
    position: fixed;
    right: 11px;
    text-align: center;
    text-shadow: 0 0 0;
    bottom: 105px;
    width: 20px;
    z-index: 1001;
}

.cart-list {
    display: none;
}

/*服務區塊*/
.service{
    padding: 60px 0;
    border-bottom: 1px solid #009A86;

}

.service .single-item{
    display: inline-block;
    position: relative;
    padding: 15px 30px 15px 60px;
}

.service .single-item .fa-4{
    font-size: 45px;
    color: #009A86;
    left: 5px;
    position: absolute;
    top: 20px;
}

.section-title {
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}

.section-title h4 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #262b32;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-title h4::after {
    background: rgba(0, 0, 0, 0) url(../../../static/images/icon_title.png) no-repeat scroll center top;
    bottom: -27px;
    content: "";
    height: 23px;
    left: -75px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    width: 283px;
}

/* 彈出視窗 */
.modal-head{
    margin: 10px 0 0 10px;
}
.modal .widget .social-icons li {
    float: left;
    line-height: 30px;
    list-style: outside none none;
    margin: 0 10px 10px 0;
}

.modal .widget .social-icons li .social-icon {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #909295;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    width: 40px;
}

.modal .widget .social-icons li .social-icon.facebook:hover {
    background: #3b579d none repeat scroll 0 0;
    border: 1px solid #3b579d;
}
.modal .widget .social-icons li .social-icon.twitter:hover {
    background: #3acaff none repeat scroll 0 0;
    border: 1px solid #3acaff;
}
.modal .widget .social-icons li .social-icon.gplus:hover {
    background: #d11717 none repeat scroll 0 0;
    border: 1px solid #d11717;
}
.modal .widget .social-icons li .social-icon.instagram:hover {
    background: #cc0ab2 none repeat scroll 0 0;
    border: 1px solid #0097bd;
    }
.modal .widget .social-icons li .social-icon:hover {
    color: #ffffff;
}

/*footer*/

.footer-area {
    background: #2F2F2F;
}

.section-padding2 {
    padding: 30px 0;
}

h3.footer-widget-title {
    color: #c38749;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.toggle-footer li {
    color: #dddddd;
    font-size: 12px;
    font-weight: 300;
    line-height: 35px;
}

.toggle-footer li a {
    color: #dddddd;
    font-size: 13px;
    transition: all 0.3s ease 0s;
}
.toggle-footer li a:hover {
    color: #009A86;
    text-decoration: none;
}

.footer-middle {
    border-top: 1px solid #3b3b3b;
    overflow: hidden;
}

.footer-border-right {
    border-right: 1px solid #3b3b3b;
}

.footer-middle-content > a {
    display: inline-block;
}

.footer-middle-content p {
    color: #ddd;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 30px;
}

.social-icon ul {
    margin: 0;
    overflow: hidden;
}

.social-icon ul li {
    color: #ddd;
    
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    margin-right: 10px;
    overflow: hidden;
    padding: 11px 0;
    float: left;
}

.social-icon ul li a {
    border: 1px solid #dddddd;
    border-radius: 100%;
    color: #dddddd;
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}

.social-icon ul li a:hover {
    border-color: #3acaff;
    color: #3acaff;
}

.contact-area .footer-info.contact ul li {
    margin-bottom: 10px;
    padding-left: 45px;
    position: relative;
}

.contact-area .footer-info ul li {
    color: #dddddd;
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    overflow: hidden;
}

.contact-area .footer-info.contact i {
    border: 2px solid #74797f;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    height: 35px;
    left: 0;
    line-height: 31px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 35px;
}

.contact-area .footer-info.contact li p {
    line-height: 20px;
    margin: 0;
}

/*麵包屑導覽*/
nav .breadcrumb a{
    color: #009A86;
}

